.reg-form {
            max-width: 800px;
            } 

/*.reg-form > div {
            display: flex;
            margin-bottom: 20px;
}

.reg-form__input {
              width: 50%;
}

.reg-form textarea {
              height: 150px;
}